@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: "avenir-black";
    src: url("../fonts/avenir-black.ttf") format("truetype");

    font-family: "avenir-medium";
    src: url("../fonts/avenir-medium.ttf") format("truetype");

    font-family: "avenir-regular";
    src: url("../fonts/avenir-regular.ttf") format("truetype");

    font-family: "milkipa";
    src: url("../fonts/milkipa.ttf") format("truetype");
}